<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments :: html_head" />
<body>
<div class="container">
    <div th:replace="fragments :: menu" />

    <div id="json-view">
        <div class="border round p-3 my-3 overflow-auto" style="max-height: 15em">
                <pre id="json" th:text="${result}">

                </pre>
        </div>
        <div class="pb-3 d-grid justify-content-end">
            <button type="button" class="btn btn-outline-secondary" id="getJsonFields">Carregar Campos</button>
        </div>
        <div class="d-none" id="json-header" th:text="${jsonHeader}">

        </div>
    </div>

    <div id="json-fields" class="pb-2">
        <form method="post" enctype="application/x-www-form-urlencoded" id="fields-form" >
        <div th:each="field : ${fields}" class="input-group pb-1">
            <div class="input-group-text">
                <input type="hidden" class="hidden-enable" name="enable" value="false" />
                <input class="form-check-input mt-0 chk-enable" type="checkbox" />
            </div>
            <span class="input-group-text" th:text="${field}" style="min-width: 10em"></span>
            <input type="hidden" name="originalName" th:value="${field}" />
            <select class="form-select" name="newName">
                <option selected>Escolha uma opção</option>
                <option value="ean">ean</option>
                <option value="descricao">descricao</option>
                <option value="preco_de">preco_de</option>
                <option value="preco_por">preco_por</option>
                <option value="link_image">link_image</option>
                <option value="sugestoes">sugestoes</option>
            </select>
        </div>
            <input type="hidden" name="url" id="url"/>
            <input type="hidden" name="methodSelected" id="method-selected" />
            <input type="hidden" name="integrationType" value="WEB_SERVICE" />
            <div class="d-grid justify-content-end">
                <button type="button" class="btn btn-outline-secondary" id="save-config">Salvar Configurações</button>
            </div>
            <div th:each="entry, stats : ${header}">
                <input type="hidden" name="key" th:value="${entry.key}" />
                <input type="hidden" name="value" th:value="${entry.value}" />
            </div>
        </form>
    </div>
    <div id="save-complete" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Configurações salvas com sucesso!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary redirect-button" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="auth-jsonView">
        <div class="border round p-3 my-3 overflow-auto" style="max-height: 15em">
                <pre id="auth-json" th:text="${result}">

                </pre>
        </div>
        <div class="pb-3 d-grid justify-content-end">
            <button type="button" class="btn btn-outline-secondary" id="auth-getJsonFields">Carregar Campos</button>
        </div>
    </div>

    <div id="auth-jsonFields">
        <h5 class="text-center display-6">Escolha os campos para definir a Chave de Autorização</h5>
        <form method="post" id="auth-fields-form" enctype="application/x-www-form-urlencoded">
            <div class="d-grid gap-2 d-md-flex" id="auth-list-fields">
                <button th:each="field : ${fields}" class="btn btn-secondary btn-auth-field" type="button" th:text="${field}"></button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">KEY</th>
                        <th scope="col">VALUE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width: 20em">
                            <select class="form-select" name="key">
                                <option value="Default" selected>Escolha uma opção</option>
                                <option value="Authorization">Authorization</option>
                            </select>
                        </td>
                        <td>
                            <div class="d-grid gap-2 d-md-flex" id="auth-composeField">

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="hidden" name="authJson" th:value="${authJsonFields}">
            <div class="pb-3 d-grid justify-content-end">
                <button type="button" class="btn btn-outline-secondary" id="goToCadConfig">Próximo</button>
            </div>
        </form>
    </div>


    <!-- Fragmento Configuração de Cadastro de Produtos - WebService com Autenticação  -->
    <div id="cad-config" class="collapse">
        <div class="row m-3 border rounded">
            <form class="col-sm-12" method="POST" id="cad-form" enctype="application/x-www-form-urlencoded" action="/config/ws/cad/cadConfig">
                <div class="input-group py-3">
                    <div class="col-1">
                        <select class="form-select bg-secondary text-white" name="method">
                            <option selected value="GET">GET</option>
                            <option value="POST">POST</option>
                        </select>
                    </div>
                    <input type="hidden" name="integrationType" value="WEB_SERVICE" />
                    <input type="text" class="form-control" name="ws_path" aria-describedby="next" aria-label="Próximo" required />
                    <button type="button" class="btn btn-outline-secondary" id="cad-send">Próximo</button>
                </div>
                <div class="border rounder p-3 mb-3">
                    <div class="nav nav-tabs" id="cad-keys" role="tablist">
                        <button class="nav-link active" id="cad-header-tab" data-bs-toggle="tab" data-bs-target="#cad-header" type="button" role="tab" aria-controls="cad-header" aria-selected="true">Header</button>
                        <button class="nav-link" id="cad-body-tab" data-bs-toggle="tab" data-bs-target="#cad-body" type="button" role="tab" aria-controls="cad-body" aria-selected="false">Body</button>
                    </div>
                    <div class="tab-content" id="cad-content">
                        <div class="tab-pane fade show active" id="cad-header" role="tabpanel" aria-labelledby="cad-header">

                            <table class="table" id="table-cad-header-keys">
                                <thead>
                                <tr>
                                    <th scope="col">CHAVE</th>
                                    <th scope="col">VALOR</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control border-0" name="key" th:value="${headerKey}" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control border-0" name="value" th:value="${headerValue}" />
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <button class="btn btn-outline-secondary" type="button" id="btn-cad-new-key" >Adicionar Chave</button>
                        </div>
                        <div class="tab-pane fade" id="cad-body" role="tabpanel"aria-labelledby="cad-body">
                            <div class="p-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="cad-bodyType" value="x-www-form-urlencoded" id="cad-urlencoded" checked>
                                    <label class="form-check-label" for="cad-urlencoded">x-www-form-urlencoded</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="cad-bodyType" value="raw" id="cad-raw">
                                    <label class="form-check-label" for="cad-raw">raw</label>
                                </div>
                            </div>
                            <div id="cad-urlencoded-content">
                                <table class="table" id="table-cad-body-keys">
                                    <thead>
                                    <tr>
                                        <th scope="col">CHAVE</th>
                                        <th scope="col">VALOR</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control border-0" name="bodyKey" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control border-0" name="bodyValue" />
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <button class="btn btn-outline-secondary" type="button" id="btn-cad-new-bodyKey">Adicionar Chave</button>
                            </div>
                            <div id="cad-raw-content" style="display: none">
                                <table class="table" id="table-cad-raw-fields'">
                                    <thead>
                                    <tr>
                                        <th scope="col">CAMPO</th>
                                        <th scope="col">VALOR</th>
                                        <th scope="col">OPERADOR</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><input type="text" class="form-control border-0" name="campo" /></td>
                                        <td><input type="text" class="form-control border-0" name="valor" /></td>
                                        <td><select class="form-select" name="operador">
                                            <option value="IGUAL" selected>IGUAL</option>
                                            <option value="DIFERENTE">DIFERENTE</option>
                                            <option value="MENOR">MENOR</option>
                                            <option value="MAIOR">MAIOR</option>
                                        </select></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form id="form-sendJsonToFindValue">
                <div id="cad-jsonView">

                </div>
            </form>
            <form id="form-loadFieldsValue" method="post">
                <div id="cad-findValue">

                </div>
            </form>
            <form id="form-saveConfig"  method="post">
                <div id="cad-fieldsValues">

                </div>
                <input type="hidden" name="integrationType" value="WEB_SERVICE" />
            </form>
        </div>
    </div>
    <!-- Fim do Fragmento -->

    <!-- Fragmento para visualização do Json dos Produtos -->
    <div id="cadJsonView">
        <div class="border round p-3 my-3 overflow-auto" style="max-height: 15em">
            <pre id="cad-json" th:text="${result}">

            </pre>
        </div>
        <div class="pb-3 d-grid justify-content-end">
            <button type="button" class="btn btn-outline-secondary" id="cad-findProdValue">Buscar Valor do Produto</button>
        </div>
        <input type="hidden" name="json" th:value="${result}">
        <div th:each="header: ${headers}">
        <input type="hidden" name="headerKey" th:value="${header.key}" />
        <input type="hidden" name="headerValue" th:each="headerValue : ${header.value}" th:value="${headerValue}" />
        </div>
    </div>
    <!-- Fim do fragmento -->

    <!-- Fragmento Retorno Campos de Busca -->
    <div id="cad-findValueContent">
        <div class="border round p-3">
            <div class="input-group">
                <div class="col-1">
                    <select class="form-select bg-secondary text-white" name="method">
                        <option selected value="GET">GET</option>
                        <option value="POST">POST</option>
                    </select>
                </div>
                <input type="hidden" name="integrationType" value="WEB_SERVICE" />
                <input type="text" class="form-control" name="ws_path" aria-describedby="next" aria-label="Próximo" required />
                <button type="button" class="btn btn-outline-secondary" id="cad-buscaCusto">Próximo</button>
            </div>
            <table class="table" id="table-findValue">
                <thead>
                <tr>
                    <th scope="col">CAMPO</th>
                    <th scope="col">VALOR</th>
                    <th scope="col">OPERADOR</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><select class="form-select" name="campo" id="cad-selectField">
                        <option value="0" selected name="selectField">Escolha um campo</option>
                        <option th:each="field : ${fields}" th:value="${field}" th:text="${field}"></option>
                    </select></td>
                    <td><input type="text" class="form-control border-0" name="valor" th:value="${value}" id="cad-selectFieldValue" /></td>
                    <td><select class="form-select" name="operador">
                        <option value="IGUAL" selected>IGUAL</option>
                        <option value="DIFERENTE">DIFERENTE</option>
                        <option value="MENOR">MENOR</option>
                        <option value="MAIOR">MAIOR</option>
                    </select></td>
                </tr>
                </tbody>
            </table>
        </div>
        <input type="hidden" name="jsonProduto" th:value="${json}" />
        <div th:each="header : ${headers}">
            <input type="hidden" name="key" th:value="${header.key}" />
            <input type="hidden" name="value" th:value="${header.value}" />
        </div>
    </div>
    <!-- Fim do Fragmento -->

    <div id="cadFieldsValues">
        <div class="border round p-3 my-3 overflow-auto" style="max-height: 15em">
            <pre id="value-json" th:text="${result}">

            </pre>
        </div>
        <div class="input-group pb-1">
            <span class="input-group-text" style="min-width: 10em">ean</span>
            <input type="hidden" name="newName" value="ean" />
            <select th:replace="dataFragments :: selectFields(fields = ${fields}, name = 'originalName')" />
        </div>
        <div class="input-group pb-1">
            <span class="input-group-text" style="min-width: 10em">descricao</span>
            <input type="hidden" name="newName" value="descricao" />
            <select th:replace="dataFragments :: selectFields(fields = ${fields}, name = 'originalName')" />
        </div>
        <div class="input-group pb-1">
            <span class="input-group-text" style="min-width: 10em">preco_de</span>
            <input type="hidden" name="newName" value="preco_de" />
            <select th:replace="dataFragments :: selectFields(fields = ${fields}, name = 'originalName')" />
        </div>
        <div class="input-group pb-1">
            <span class="input-group-text" style="min-width: 10em">preco_por</span>
            <input type="hidden" name="newName" value="preco_por" />
            <select th:replace="dataFragments :: selectFields(fields = ${fields}, name = 'originalName')" />
        </div>
        <div class="input-group pb-1">
            <span class="input-group-text" style="min-width: 10em">link_image</span>
            <input type="hidden" name="newName" value="link_image" />
            <select th:replace="dataFragments :: selectFields(fields = ${fields}, name = 'originalName')" />
        </div>
        <div class="input-group pb-1">
            <span class="input-group-text" style="min-width: 10em">sugestoes</span>
            <input type="hidden" name="newName" value="sugestoes" />
            <select th:replace="dataFragments :: selectFields(fields = ${fields}, name = 'originalName')" />
        </div>
        <div class="pb-3 d-grid justify-content-end">
            <button class="btn btn-outline-secondary" id="cad-saveConfig" type="button">Salvar</button>
        </div>
    </div>

    <select class="form-select" th:fragment="selectFields(fields, name)" th:name="${name}">
        <option value="0">Não usado</option>
        <option th:each="field : ${fields}" th:value="${field}" th:text="${field}"></option>
    </select>

    <div id="cadSaveValues">

    </div>
</div>
<div th:replace="fragments :: html_foot" />
<div th:replace="fragments :: bootstrap-js" />
</body>
</html>