<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments :: html_head" />
<body>
<div class="container">
    <div th:replace="fragments :: menu" />

    <div id="json-view">
        <div class="border round p-3 my-3 overflow-auto" style="max-height: 15em">
                <pre id="json" th:text="${result}">

                </pre>
        </div>
        <div class="pb-3 d-grid justify-content-end">
            <button type="button" class="btn btn-outline-secondary" id="getJsonFields">Carregar Campos</button>
        </div>
        <div class="d-none" id="json-header" th:text="${jsonHeader}">

        </div>
    </div>

    <div id="json-fields" class="pb-2">
        <form method="post" enctype="application/x-www-form-urlencoded" id="fields-form" >
        <div th:each="field : ${fields}" class="input-group pb-1">
            <div class="input-group-text">
                <input type="hidden" class="hidden-enable" name="enable" value="false" />
                <input class="form-check-input mt-0 chk-enable" type="checkbox" />
            </div>
            <span class="input-group-text" th:text="${field}" style="min-width: 10em"></span>
            <input type="hidden" name="originalName" th:value="${field}" />
            <select class="form-select" name="newName">
                <option selected>Escolha uma opção</option>
                <option value="ean">ean</option>
                <option value="descricao">descricao</option>
                <option value="preco_de">preco_de</option>
                <option value="preco_por">preco_por</option>
                <option value="link_image">link_image</option>
                <option value="sugestoes">sugestoes</option>
            </select>
        </div>
            <input type="hidden" name="url" id="url"/>
            <input type="hidden" name="methodSelected" id="method-selected" />
            <input type="hidden" name="integrationType" value="WEB_SERVICE" />
            <div class="d-grid justify-content-end">
                <button type="button" class="btn btn-outline-secondary" id="save-config">Salvar Configurações</button>
            </div>
            <div th:each="entry, stats : ${header}">
                <input type="hidden" name="key" th:value="${entry.key}" />
                <input type="hidden" name="value" th:value="${entry.value}" />
            </div>
        </form>
    </div>
    <div id="save-complete" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Configurações salvas com sucesso!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary redirect-button" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="auth-jsonView">
        <div class="border round p-3 my-3 overflow-auto" style="max-height: 15em">
                <pre id="auth-json" th:text="${result}">

                </pre>
        </div>
        <div class="pb-3 d-grid justify-content-end">
            <button type="button" class="btn btn-outline-secondary" id="auth-getJsonFields">Carregar Campos</button>
        </div>
    </div>
    <div id="auth-jsonFields">
        <form enctype="application/x-www-form-urlencoded" method="post" name="auth-fields-form">
            <div class="d-grid gap-2 d-md-flex">
                <button th:each="field : ${fields}" class="btn btn-secondary" type="button" th:text="${field}"></button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">KEY</th>
                        <th scope="col">VALUE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select class="form-select" name="key">
                                <option selected>Authorization</option>
                            </select>
                        </td>
                        <td id="auth-composeField"></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<div th:replace="fragments :: html_foot" />
<div th:replace="fragments :: bootstrap-js" />
</body>
</html>