<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments :: html_head" />
<body>
<div class="container">
    <div th:replace="fragments :: menu" />

    <h3>Carregar Arquivo</h3>
    <div class="row m-3">
        <form class="col-sm-12" method="POST" action="/config/file/send">
            <div class="input-group">
                <span class="input-group-text" >Caminho do Arquivo:</span>
                <input type="hidden" id="integrationType" name="integrationType" value="FILE" />
                <input type="text" class="form-control col-sm-6" name="path" id="file_path" aria-describedby="next" aria-label="Próximo" required />
                <input class="btn btn-outline-secondary" type="submit" value="Próximo" id="next" />
            </div>
        </form>
    </div>

</div>
<div th:replace="fragments :: html_foot" />
<div th:replace="fragments :: bootstrap-js" />
</body>
</html>