<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0ebca30b62.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var numField = 2;
            $("#moreFields").click(function() {
                var inputField = '<div class="row mb-1">' +
                    '<div class="input-group col">' +
                    '<span class="input-group-text text-white bg-secondary">' + numField + '</span>' +
                    '<input class="form-control input-field" type="text" name="fields" />' +
                    '</div>' +
                    '<div class="input-group col-sm-4 position-field">' +
                    '<span class="input-group-text text-white bg-secondary">Pos. Inicial</span>' +
                    '<input class="form-control input-field" type="text" name="posBegin" value="0" />' +
                    '</div>' +
                    '<div class="input-group col-sm-4 position-field">' +
                    '<span class="input-group-text text-white bg-secondary">Pos. Final</span>' +
                    '<input  class="form-control input-field" type="text" name="posEnd" value="0" />' +
                    '</div>' +
                    '</div>';
                $("#campos").append(inputField);
                $(".position-field").toggle(!($("#hasDelimiter").is(":checked")));
                numField++;
            });

            $("#hasDelimiter").click(function() {
                $(".position-field").toggle(!this.checked);
            });
        });
    </script>
</head>
<body>
    <div th:fragment="menu">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link fas fa-home fa-2x icon-silver" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/config/file">Arquivo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Web Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Banco de Dados</a>
                </li>
            </ul>
        </nav>
    </div>
    <div th:fragment="html_foot" class="text-center">
        <p>Integrador Mobiplus - Copyright &copy;</p>
    </div>
    <div th:fragment="bootstrap-js">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </div>
</body>
</html>