<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>[[${pageTitle}]]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0ebca30b62.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var numField = 2;

            var goToCadConfig = function() {
                                    $("#goToCadConfig").click(function() {
                                        $.post("/config/ws/cad/startConfig", $("#auth-fields-form").serialize()).done(function(data) {

                                            $("#with-auth-token").toggle(false);
                                            $("#cad-config").toggle(true);
                                        });
                                    });
                                }

            var selectField = function() {
                                goToCadConfig();
                                $(".btn-auth-field").off();
                                $(".btn-auth-field").click(function() {
                                    var oldButton = this;
                                    var newButton = $(this).clone();
                                    var input = '<input type="hidden" id="value-' + $(this).text() + '" value="' + $(this).text() + '" name="value">';
                                    $(this).addClass("disabled");
                                    $(newButton).removeClass("btn-auth-field");
                                    $(newButton).addClass("btn-auth-field-remove");
                                    $(newButton).appendTo("#auth-composeField");
                                    $("#auth-composeField").append(input);

                                    $(newButton).off();
                                    $(newButton).click(function() {
                                        $(oldButton).removeClass("disabled");
                                        $(this).remove();
                                        var inputForRemove = $("#value-" + $(this).text());
                                        $(inputForRemove).remove();
                                    });
                                });
                            }
            var deselectField = function() {
                                $(".btn-auth-field-remove").off();
                                $(".btn-auth-field-remove").click(function() {
                                    $(this).removeClass("btn-auth-field-remove");
                                    $(this).addClass("btn-auth-field");
                                    $(this).appendTo("#auth-list-fields");

                                    $(".btn-auth-field").off();
                                    selectField();
                                });
                            }


            $("#moreFields").click(function() {
                var inputField = '<div class="row mb-1">' +
                    '<div class="input-group col">' +
                    '<span class="input-group-text text-white bg-secondary">' + numField + '</span>' +
                    '<input class="form-control input-field" type="text" name="fields" />' +
                    '</div>' +
                    '<div class="input-group position-field col">' +
                    '<span class="input-group-text text-white bg-secondary">Pos. Inicial</span>' +
                    '<input class="form-control input-field" type="text" name="posBegin" value="0" />' +
                    '</div>' +
                    '<div class="input-group position-field col">' +
                    '<span class="input-group-text text-white bg-secondary">Pos. Final</span>' +
                    '<input  class="form-control input-field" type="text" name="posEnd" value="0" />' +
                    '</div>' +
                    '</div>';
                $("#campos").append(inputField);
                $(".position-field").toggle(!($("#hasDelimiter").is(":checked")));
                numField++;
            });

            $("#hasDelimiter").click(function() {
                $(".position-field").toggle(!this.checked);
            });

            $("#auth-urlencoded").click(function() {
                $("#auth-urlencoded-content").toggle(this.checked);
                $("#auth-raw-content").toggle(!this.checked);
            });

            $("#auth-raw").click(function() {
                $("#auth-urlencoded-content").toggle(!this.checked);
                $("#auth-raw-content").toggle(this.checked);
            });

            $("#cad-urlencoded").click(function() {
                $("#cad-urlencoded-content").toggle(this.checked);
                $("#cad-raw-content").toggle(!this.checked);
            });

            $("#cad-raw").click(function() {
                $("#cad-urlencoded-content").toggle(!this.checked);
                $("#cad-raw-content").toggle(this.checked);
            });

            $("#send").click(function() {
                $.post("/config/ws/startConfig", $("#ws-form").serialize()).done(function(data) {
                    $("#json-view").replaceWith(data);

                    $("#getJsonFields").off();
                    $("#getJsonFields").click(function() {
                        var jsonValue = $("#json").text();
                        var jsonHeader = $("#json-header").text();
                        var url = $("#ws_path").val();
                        var method = $("#method").val();
                        $.post("/config/ws/fields", { json: jsonValue, header:  jsonHeader } ).done(function(data) {
                            $("#json-fields").replaceWith(data);
                            $("#url").val(url);
                            $("#method-selected").val(method);

                            $("#save-config").off();
                            $("#save-config").click(function() {
                                $.post("/config/ws/save", $("#fields-form").serialize()).done(function(data) {
                                    $("#dialog-success").replaceWith(data);
                                    $("#save-complete").modal('show');
                                    $(".redirect-button").off();
                                    $(".redirect-button").click(function() {
                                        $(location).attr("href", "/config/ws");
                                    });
                                });
                            });

                            $(".chk-enable").off();
                            $(".chk-enable").click(function() {
                                $(this).parent().children(".hidden-enable").val(this.checked);
                            });
                        });
                    });
                });
            });

            $("#btn-new-key").click(function() {
                var newLine = '<tr>' +
                    '<th><input type="text" class="form-control border-0" name="key" /></th>' +
                    '<th><input type="text" class="form-control border-0" name="value" /></th>' +
                    '</tr>';
                $("#table-header-keys tr:last").after(newLine);
            });

            $("#btn-auth-new-key").click(function() {
                var newLine = '<tr>' +
                    '<th><input type="text" class="form-control border-0" name="headerKey" /></th>' +
                    '<th><input type="text" class="form-control border-0" name="headerValue" /></th>' +
                    '</tr>';
                $("#table-auth-header-keys tr:last").after(newLine);
            });

            $("#btn-cad-new-key").click(function() {
                var newLine = '<tr>' +
                    '<th><input type="text" class="form-control border-0" name="headerKey" /></th>' +
                    '<th><input type="text" class="form-control border-0" name="headerValue" /></th>' +
                    '</tr>';
                $("#table-cad-header-keys tr:last").after(newLine);
            });

            $("#btn-auth-new-bodyKey").click(function() {
                var newLine = '<tr>' +
                    '<th><input type="text" class="form-control border-0" name="bodyKey" /></th>' +
                    '<th><input type="text" class="form-control border-0" name="bodyValue" /></th>' +
                    '</tr>';
                $("#table-auth-body-keys tr:last").after(newLine);
            });

            $("#btn-cad-new-bodyKey").click(function() {
                var newLine = '<tr>' +
                    '<th><input type="text" class="form-control border-0" name="bodyKey" /></th>' +
                    '<th><input type="text" class="form-control border-0" name="bodyValue" /></th>' +
                    '</tr>';
                $("#table-cad-body-keys tr:last").after(newLine);
            });

            $("#auth-send").click(function() {
                $.post("/config/ws/auth/startConfig", $("#auth-form").serialize()).done(function(data) {
                    $("#auth-jsonView").replaceWith(data);

                    $("#auth-getJsonFields").off();
                    $("#auth-getJsonFields").click(function() {
                        var jsonValue = $("#auth-json").text();
                        $.post("/config/ws/auth/configAuth", { json: jsonValue } ).done(function(data) {
                            $("#auth-fieldsView").replaceWith(data);

                            //$(".btn-auth-field").off();
                            selectField();
                        });
                    });
                });
            });

            $("#cad-send").click(function() {
                $.post("/config/ws/auth/startConfig", $("#auth-form").serialize()).done(function(data) {
                    alert(data);
                });
            });
        });
    </script>
</head>
<body>
    <div th:fragment="menu">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link fas fa-home fa-2x icon-silver" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/config/file">Arquivo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/config/ws">Web Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Banco de Dados</a>
                </li>
            </ul>
        </nav>
    </div>
    <div th:fragment="html_foot" class="text-center">
        <p>Integrador Mobiplus - Copyright &copy;</p>
    </div>

    <!-- Fragmento padronizado para web service -->
    <div class="row m-3 border rounded" th:fragment="pageWebService(typeWebService, action)">
        <form class="col-sm-12" method="POST" th:action="${action}" th:id="${typeWebService}+'-form'" enctype="application/x-www-form-urlencoded">
            <div class="input-group py-3">
                <div class="col-1">
                    <select class="form-select bg-secondary text-white" name="method">
                        <option selected value="GET">GET</option>
                        <option value="POST">POST</option>
                    </select>
                </div>
                <input type="hidden" name="integrationType" value="WEB_SERVICE" />
                <input type="text" class="form-control" name="ws_path" aria-describedby="next" aria-label="Próximo" required />
                <button type="button" class="btn btn-outline-secondary" th:id="${typeWebService}+'-send'">Próximo</button>
            </div>
            <div class="border rounder p-3 mb-3">
                <div class="nav nav-tabs" th:id="${typeWebService}+'-keys'" role="tablist">
                    <button class="nav-link active" th:id="${typeWebService}+'-header-tab'" data-bs-toggle="tab" th:data-bs-target="'#'+${typeWebService}+'-header'" type="button" role="tab" th:aria-controls="${typeWebService}+'-header'" aria-selected="true">Header</button>
                    <button class="nav-link" th:id="${typeWebService}+'-body-tab'" data-bs-toggle="tab" th:data-bs-target="'#'+${typeWebService}+'-body'" type="button" role="tab" th:aria-controls="${typeWebService}+'-body'" aria-selected="false">Body</button>
                </div>
                <div class="tab-content" th:id="${typeWebService}+'-content'">
                    <div class="tab-pane fade show active" th:id="${typeWebService}+'-header'" role="tabpanel" th:aria-labelledby="${typeWebService}+'-header'">

                        <table class="table" th:id="'table-'+${typeWebService}+'-header-keys'">
                            <thead>
                            <tr>
                                <th scope="col">CHAVE</th>
                                <th scope="col">VALOR</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <input type="text" class="form-control border-0" name="headerKey" />
                                </td>
                                <td>
                                    <input type="text" class="form-control border-0" name="headerValue" />
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <button class="btn btn-outline-secondary" type="button" th:id="'btn-'+${typeWebService}+'-new-key'">Adicionar Chave</button>
                    </div>
                    <div class="tab-pane fade" th:id="${typeWebService}+'-body'" role="tabpanel" th:aria-labelledby="${typeWebService}+'-body'">
                        <div class="p-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" th:name="${typeWebService}+'-bodyType'" value="x-www-form-urlencoded" th:id="${typeWebService}+'-urlencoded'" checked>
                                <label class="form-check-label" th:for="${typeWebService}+'-urlencoded'">x-www-form-urlencoded</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" th:name="${typeWebService}+'-bodyType'" value="raw" th:id="${typeWebService}+'-raw'">
                                <label class="form-check-label" th:for="${typeWebService}+'-raw'">raw</label>
                            </div>
                        </div>
                        <div th:id="${typeWebService}+'-urlencoded-content'">
                            <table class="table" th:id="'table-'+${typeWebService}+'-body-keys'">
                                <thead>
                                <tr>
                                    <th scope="col">CHAVE</th>
                                    <th scope="col">VALOR</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control border-0" name="bodyKey" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control border-0" name="bodyValue" />
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <button class="btn btn-outline-secondary" type="button" th:id="'btn-'+${typeWebService}+'-new-bodyKey'">Adicionar Chave</button>
                        </div>
                        <div th:id="${typeWebService}+'-raw-content'" style="display: none">
                            <table class="table" th:id="'table-'+${typeWebService}+'-raw-fields'">
                                <thead>
                                    <tr>
                                        <th scope="col">CAMPO</th>
                                        <th scope="col">VALOR</th>
                                        <th scope="col">OPERADOR</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" class="form-control border-0" name="campo" /></td>
                                        <td><input type="text" class="form-control border-0" name="valor" /></td>
                                        <td><select class="form-select" name="operador">
                                            <option value="IGUAL" selected>IGUAL</option>
                                            <option value="DIFERENTE">DIFERENTE</option>
                                            <option value="MENOR">MENOR</option>
                                            <option value="MAIOR">MAIOR</option>
                                        </select></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div th:id="${typeWebService}+'-jsonView'">

            </div>
            <div th:id="${typeWebService}+'-fieldsView'">

            </div>
        </form>
    </div>
    <!-- Fim do fragmento para web service -->

    <div th:fragment="bootstrap-js">

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    </div>
</body>
</html>