<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>[[${pageTitle}]]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0ebca30b62.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var numField = 2;

            var goToCadConfig = function() {
                                    $("#goToCadConfig").click(function() {
                                        $.post("/config/ws/cad/startConfig", $("#auth-fields-form").serialize()).done(function(data) {

                                            $("#cad-settings").toggle(false);
                                            $("#cad-config").replaceWith(data);
                                            $("#cad-config").toggle(true);

                                            $("#btn-cad-new-key").click(function() {
                                                var newLine = '<tr>' +
                                                '<th><input type="text" class="form-control border-0" name="key" /></th>' +
                                                '<th><input type="text" class="form-control border-0" name="value" /></th>' +
                                                '<td><button type="button" class="btn"><i class="fas fa-backspace text-danger"></i></button></td>' +
                                                '</tr>';

                                                $("#table-cad-header-keys tr:last").after(newLine);
                                                var line = $("#table-cad-header-keys").find("tr").last();
                                                var button = $(line).find("button").last();

                                                $(button).click(function() {
                                                    $(line).remove();
                                                });
                                            });

                                            $("#btn-cad-new-bodyKey").click(function() {
                                                var newLine = '<tr>' +
                                                    '<td><input type="text" class="form-control border-0" name="bodyKey" /></td>' +
                                                    '<td><input type="text" class="form-control border-0" name="bodyValue" /></td>' +
                                                    '<td><button type="button" class="btn"><i class="fas fa-backspace text-danger"></i></button></td>' +
                                                    '</tr>';
                                                $("#table-cad-body-keys tr:last").after(newLine);
                                                var line = $("#table-cad-body-keys").find("tr").last();
                                                var button = $(line).find("button").last();

                                                $(button).click(function() {
                                                    $(line).remove();
                                                });
                                            });

                                            $("#cad-urlencoded").click(function() {
                                                $("#cad-urlencoded-content").toggle(this.checked);
                                                $("#cad-raw-content").toggle(!this.checked);
                                            });

                                            $("#cad-raw").click(function() {
                                                $("#cad-urlencoded-content").toggle(!this.checked);
                                                $("#cad-raw-content").toggle(this.checked);
                                            });

                                            $("#cad-send").click(function() {
                                                $.post("/config/ws/cad/cadConfig", $("#cad-form").serialize()).done(function(data) {
                                                    if ($(data).attr('id') === "dialog-error") {
                                                        $("#dialog-error").replaceWith(data);
                                                        $("#dialog-error").modal("show");
                                                    } else {
                                                        $("#cad-jsonView").replaceWith(data);

                                                        $("#cad-findProdValue").click(function() {
                                                            var jsonCadProd = $("#cad-json").text();
                                                            $.post("/config/ws/cad/loadFields", $("#form-sendJsonToFindValue").serialize() ).done(function(data) {
                                                                $("#cad-findValue").replaceWith(data);

                                                                $("#cad-selectField").change(function() {
                                                                    var json = JSON.parse(jsonCadProd);
                                                                    var value = json['data'][0][$(this).val()];
                                                                    $("#cad-selectFieldValue").val(value);
                                                                });

                                                                $("#cad-buscaCusto").click(function() {
                                                                    $.post("/config/ws/cad/loadFieldsValues", $("#form-loadFieldsValue").serialize()).done(function(data) {
                                                                        if ($(data).attr('id') === "dialog-error") {
                                                                            $("#dialog-error").replaceWith(data);
                                                                            $("#dialog-error").modal("show");
                                                                        } else {

                                                                            $("#cadFieldsValues").replaceWith('<div id="cad-fieldsValues"></div>');
                                                                            $("#cad-fieldsValues").replaceWith(data);

                                                                            $("#cad-saveConfig").click(function() {
                                                                                $.post("/config/ws/cad/saveConfig", $("#form-saveConfig").serialize()).done(function(data) {
                                                                                    $("#dialog-success").replaceWith(data);
                                                                                    $("#save-complete").modal('show');
                                                                                    $(".redirect-button").off();
                                                                                    $(".redirect-button").click(function() {
                                                                                        $(location).attr("href", "/config/ws");
                                                                                    });
                                                                                });
                                                                            });
                                                                        }
                                                                    });
                                                                });
                                                            });
                                                        });
                                                    }
                                                });
                                            });

                                            $("#cad-ws_path").on('input', function() {
                                                var value = $(this).val();
                                                if(value.indexOf('?') > -1) {
                                                    var parameters = value.substr(value.indexOf('?') + 1);
                                                    var parameters = parameters.split('&');

                                                    var delLines = $("#table-cad-parameters-keys tbody tr");
                                                    var newLines = [];
                                                    $.each(delLines, function(index, line) {
                                                        var i = (delLines.length - index) - 1;
                                                        if(i > (parameters.length - 1)) {
                                                            delLines[i].remove();
                                                        }
                                                    });

                                                    authLines = $("#table-cad-parameters-keys tbody tr");

                                                    $.each(parameters, function(index, val) {
                                                        if(authLines.length < index + 1) {
                                                            authLines.push('<tr>' +
                                                                '<td><input type="text" class="form-control border-0" name="parameterKey" /></td>' +
                                                                '<td><input type="text" class="form-control border-0" name="parameterValue" /></td>' +
                                                                '<td><button type="button" class="btn"><i class="fas fa-backspace text-danger"></i></button></td>' +
                                                            '</tr>');
                                                            $("#table-cad-parameters-keys tr:last").after(authLines[index]);
                                                            authLines[index] = $("#table-cad-parameters-keys tr")[index + 1];
                                                            $(authLines[index]).on('click', 'button', function() {
                                                                $(authLines[index]).remove();
                                                                rewriteParameters("#cad-ws_path", "#table-cad-parameters-keys");
                                                            });
                                                        }

                                                        var inputs = $(authLines[index]).find('input');
                                                        var pairKeyValue = val.split('=');
                                                        $(inputs[0]).val(pairKeyValue[0]);
                                                        $(inputs[1]).val(pairKeyValue[1]);
                                                    });

                                                }
                                            });

                                            $("#table-cad-parameters-keys").on('input', 'input', function() {
                                                rewriteParameters("#cad-ws_path", "#table-cad-parameters-keys");
                                            });

                                            $("#btn-new-cad-parameter-key").click(function() {
                                                var line =  '<tr>' +
                                                            '<td><input type="text" class="form-control border-0" name="parameterKey" /></td>' +
                                                            '<td><input type="text" class="form-control border-0" name="parameterValue" /></td>' +
                                                            '<td><button type="button" class="btn"><i class="fas fa-backspace text-danger"></i></button></td>' +
                                                            '</tr>'

                                                $("#table-cad-parameters-keys tr:last").after(line);
                                                var lastLine = $("#table-cad-parameters-keys tr:last");
                                                $(lastLine).on('click', 'button', function() {
                                                    $(this).parent().parent().remove();
                                                    rewriteParameters("#cad-ws_path", "#table-cad-parameters-keys");
                                                });
                                            });


                                        });
                                    });
                                }

            var selectField = function() {
                                $(".btn-auth-field").off();
                                $(".btn-auth-field").click(function() {
                                    var oldButton = this;
                                    var newButton = $(this).clone();
                                    var input = '<input type="hidden" id="value-' + $(this).text() + '" value="' + $(this).text() + '" name="value">';
                                    $(this).addClass("disabled");
                                    $(newButton).removeClass("btn-auth-field");
                                    $(newButton).addClass("btn-auth-field-remove");
                                    $(newButton).appendTo("#auth-composeField");
                                    $("#auth-composeField").append(input);

                                    $(newButton).off();
                                    $(newButton).click(function() {
                                        $(oldButton).removeClass("disabled");
                                        $(this).remove();
                                        var inputForRemove = $("#value-" + $(this).text());
                                        $(inputForRemove).remove();
                                    });
                                });

                                goToCadConfig();
                            }
            var deselectField = function() {
                                $(".btn-auth-field-remove").off();
                                $(".btn-auth-field-remove").click(function() {
                                    $(this).removeClass("btn-auth-field-remove");
                                    $(this).addClass("btn-auth-field");
                                    $(this).appendTo("#auth-list-fields");

                                    $(".btn-auth-field").off();
                                    selectField();
                                });
                            }


            $("#moreFields").click(function() {
                var inputField = '<div class="row mb-1">' +
                    '<div class="input-group col">' +
                    '<span class="input-group-text text-white bg-secondary">' + numField + '</span>' +
                    '<input class="form-control input-field" type="text" name="fields" />' +
                    '</div>' +
                    '<div class="input-group position-field col">' +
                    '<span class="input-group-text text-white bg-secondary">Pos. Inicial</span>' +
                    '<input class="form-control input-field" type="text" name="posBegin" value="0" />' +
                    '</div>' +
                    '<div class="input-group position-field col">' +
                    '<span class="input-group-text text-white bg-secondary">Pos. Final</span>' +
                    '<input  class="form-control input-field" type="text" name="posEnd" value="0" />' +
                    '</div>' +
                    '</div>';
                $("#campos").append(inputField);
                $(".position-field").toggle(!($("#hasDelimiter").is(":checked")));
                numField++;
            });

            $("#hasDelimiter").click(function() {
                $(".position-field").toggle(!this.checked);
            });

            $("#auth-urlencoded").click(function() {
                $("#auth-urlencoded-content").toggle(this.checked);
                $("#auth-raw-content").toggle(!this.checked);
            });

            $("#auth-raw").click(function() {
                $("#auth-urlencoded-content").toggle(!this.checked);
                $("#auth-raw-content").toggle(this.checked);
            });

            $("#cad-urlencoded").click(function() {
                $("#cad-urlencoded-content").toggle(this.checked);
                $("#cad-raw-content").toggle(!this.checked);
            });

            $("#cad-raw").click(function() {
                $("#cad-urlencoded-content").toggle(!this.checked);
                $("#cad-raw-content").toggle(this.checked);
            });

            $("#send").click(function() {
                $.post("/config/ws/startConfig", $("#ws-form").serialize()).done(function(data) {
                    $("#json-view").replaceWith(data);

                    $("#getJsonFields").off();
                    $("#getJsonFields").click(function() {
                        var jsonValue = $("#json").text();
                        var jsonHeader = $("#json-header").text();
                        var url = $("#ws_path").val();
                        var method = $("#method").val();
                        $.post("/config/ws/fields", { json: jsonValue, header:  jsonHeader } ).done(function(data) {
                            $("#json-fields").replaceWith(data);
                            $("#url").val(url);
                            $("#method-selected").val(method);

                            $("#save-config").off();
                            $("#save-config").click(function() {
                                $.post("/config/ws/save", $("#fields-form").serialize()).done(function(data) {
                                    $("#dialog-success").replaceWith(data);
                                    $("#save-complete").modal('show');
                                    $(".redirect-button").off();
                                    $(".redirect-button").click(function() {
                                        $(location).attr("href", "/config/ws");
                                    });
                                });
                            });

                            $(".chk-enable").off();
                            $(".chk-enable").click(function() {
                                $(this).parent().children(".hidden-enable").val(this.checked);
                            });
                        });
                    });
                });
            });

            $("#btn-new-key").click(function() {
                var newLine = '<tr>' +
                    '<td><input type="text" class="form-control border-0" name="key" /></td>' +
                    '<td><input type="text" class="form-control border-0" name="value" /><td>' +
                    '<td><button type="button" class="btn"><i class="fas fa-backspace text-danger"></i></button></td>' +
                    '</tr>';
                $("#table-header-keys tr:last").after(newLine);
                var line = $("#table-header-keys").find("tr").last();
                var button = $(line).find("button").last();

                $(button).click(function() {
                    $(line).remove();
                });
            });

            $("#btn-auth-new-key").click(function() {
                var newLine = '<tr>' +
                    '<td><input type="text" class="form-control border-0" name="headerKey" /></td>' +
                    '<td><input type="text" class="form-control border-0" name="headerValue" /></td>' +
                    '<td><button type="button" class="btn"><i class="fas fa-backspace text-danger"></i></button></td>' +
                    '</tr>';
                $("#table-auth-header-keys tr:last").after(newLine);
                var line = $("#table-auth-header-keys").find("tr").last();
                var button = $(line).find("button").last();

                $(button).click(function() {
                    $(line).remove();
                });
            });

            $("#btn-cad-new-key").click(function() {
                var newLine = '<tr>' +
                    '<td><input type="text" class="form-control border-0" name="headerKey" /></td>' +
                    '<td><input type="text" class="form-control border-0" name="headerValue" /></td>' +
                    '<td><button type="button" class="btn"><i class="fas fa-backspace text-danger"></i></button></td>' +
                    '</tr>';
                $("#table-cad-header-keys tr:last").after(newLine);
                var line = $("#table-cad-header-keys").find("tr").last();
                var button = $(line).find("button").last();

                $(button).click(function() {
                    $(line).remove();
                });
            });

            $("#btn-auth-new-bodyKey").click(function() {
                var newLine = '<tr>' +
                    '<td><input type="text" class="form-control border-0" name="bodyKey" /></td>' +
                    '<td><input type="text" class="form-control border-0" name="bodyValue" /></td>' +
                    '<td><button type="button" class="btn"><i class="fas fa-backspace text-danger"></i></button></td>' +
                    '</tr>';
                $("#table-auth-body-keys tr:last").after(newLine);
                var line = $("#table-auth-body-keys").find("tr").last();
                var button = $(line).find("button").last();

                $(button).click(function() {
                    $(line).remove();
                });
            });

            $("#auth-send").click(function() {
                $.post("/config/ws/auth/startConfig", $("#auth-form").serialize()).done(function(data) {
                    if ($(data).attr('id') === "dialog-error") {
                        $("#dialog-error").replaceWith(data);
                        $("#dialog-error").modal("show");
                    } else {

                        $("#auth-jsonView").replaceWith(data);

                        $("#auth-getJsonFields").off();
                        $("#auth-getJsonFields").click(function() {
                            var jsonValue = $("#auth-json").text();
                            $.post("/config/ws/auth/configAuth", { json: jsonValue } ).done(function(data) {
                                $("#auth-fieldsView").replaceWith(data);

                                selectField();
                            });
                        });
                    }
                });
            });

            $("#cad-send").click(function() {
                $.post("/config/ws/auth/startConfig", $("#auth-form").serialize()).done(function(data) {
                    alert(data);
                });
            });

            var lines = [];
            lines[0] = $("#table-parameters-keys tr")[1];

            var rewriteParameters = function(inputPath, tableParameters) {
                if (!($(inputPath).val() === "")) {
                    var url = $(inputPath).val().split('?')[0];
                    var lines = $(tableParameters + " tbody tr");
                    var parameters = "?";
                    $.each(lines, function(index, val) {
                        var inputs = $(val).find('input');
                        if(!($(inputs[0]).val() === "")) {
                            parameters = parameters + $(inputs[0]).val() + "=" + $(inputs[1]).val();
                            if(index < lines.length - 1) {
                                parameters = parameters + "&";
                            }
                        }
                    });

                    $(inputPath).val(url + parameters);
                }
            }

            $("#ws_path").on('input', function() {
                var value = $(this).val();
                if(value.indexOf('?') > -1) {
                    var parameters = value.substr(value.indexOf('?') + 1);
                    var parameters = parameters.split('&');

                    var delLines = $("#table-parameters-keys tbody tr");
                    var newLines = [];
                    $.each(delLines, function(index, line) {
                        var i = (delLines.length - index) - 1;
                        if(i > (parameters.length - 1)) {
                            delLines[i].remove();
                        }
                    });

                    lines = $("#table-parameters-keys tbody tr");

                    $.each(parameters, function(index, val) {
                        if(lines.length < index + 1) {
                            lines.push('<tr>' +
                                '<td><input type="text" class="form-control border-0" name="parameterKey" /></td>' +
                                '<td><input type="text" class="form-control border-0" name="parameterValue" /></td>' +
                                '<td><button type="button" class="btn"><i class="fas fa-backspace text-danger"></i></button></td>' +
                            '</tr>');
                            $("#table-parameters-keys tr:last").after(lines[index]);
                            lines[index] = $("#table-parameters-keys tr")[index + 1];
                            $(lines[index]).on('click', 'button', function() {
                                $(lines[index]).remove();
                                rewriteParameters("#ws_path", "#table-parameters-keys");
                            });
                        }

                        var inputs = $(lines[index]).find('input');
                        var pairKeyValue = val.split('=');
                        $(inputs[0]).val(pairKeyValue[0]);
                        $(inputs[1]).val(pairKeyValue[1]);
                    });

                }
            });

            $("#table-parameters-keys").on('input', 'input', function() {
                rewriteParameters("#ws_path", "#table-parameters-keys");
            });

            var authLines = [];
            authLines[0] = $("#table-auth-parameters-keys tr")[1];

            $("#auth-ws_path").on('input', function() {
                var value = $(this).val();
                if(value.indexOf('?') > -1) {
                    var parameters = value.substr(value.indexOf('?') + 1);
                    var parameters = parameters.split('&');

                    var delLines = $("#table-auth-parameters-keys tbody tr");
                    var newLines = [];
                    $.each(delLines, function(index, line) {
                        var i = (delLines.length - index) - 1;
                        if(i > (parameters.length - 1)) {
                            delLines[i].remove();
                        }
                    });

                    authLines = $("#table-auth-parameters-keys tbody tr");

                    $.each(parameters, function(index, val) {
                        if(authLines.length < index + 1) {
                            authLines.push('<tr>' +
                                '<td><input type="text" class="form-control border-0" name="parameterKey" /></td>' +
                                '<td><input type="text" class="form-control border-0" name="parameterValue" /></td>' +
                                '<td><button type="button" class="btn"><i class="fas fa-backspace text-danger"></i></button></td>' +
                            '</tr>');
                            $("#table-auth-parameters-keys tr:last").after(authLines[index]);
                            authLines[index] = $("#table-auth-parameters-keys tr")[index + 1];
                            $(authLines[index]).on('click', 'button', function() {
                                $(authLines[index]).remove();
                                rewriteParameters("#auth-ws_path", "#table-auth-parameters-keys");
                            });
                        }

                        var inputs = $(authLines[index]).find('input');
                        var pairKeyValue = val.split('=');
                        $(inputs[0]).val(pairKeyValue[0]);
                        $(inputs[1]).val(pairKeyValue[1]);
                    });

                }
            });

            $("#table-auth-parameters-keys").on('input', 'input', function() {
                rewriteParameters("#auth-ws_path", "#table-auth-parameters-keys");
            });

            $("#btn-new-parameter-key").click(function() {
                var line =  '<tr>' +
                            '<td><input type="text" class="form-control border-0" name="parameterKey" /></td>' +
                            '<td><input type="text" class="form-control border-0" name="parameterValue" /></td>' +
                            '<td><button type="button" class="btn"><i class="fas fa-backspace text-danger"></i></button></td>' +
                            '</tr>'

                $("#table-parameters-keys tr:last").after(line);
                var lastLine = $("#table-parameters-keys tr:last");
                $(lastLine).on('click', 'button', function() {
                    $(this).parent().parent().remove();
                    rewriteParameters("#ws_path", "#table-parameters-keys");
                });
            });

            $("#btn-new-auth-parameter-key").click(function() {
                var line =  '<tr>' +
                            '<td><input type="text" class="form-control border-0" name="parameterKey" /></td>' +
                            '<td><input type="text" class="form-control border-0" name="parameterValue" /></td>' +
                            '<td><button type="button" class="btn"><i class="fas fa-backspace text-danger"></i></button></td>' +
                            '</tr>'

                $("#table-auth-parameters-keys tr:last").after(line);
                var lastLine = $("#table-auth-parameters-keys tr:last");
                $(lastLine).on('click', 'button', function() {
                    $(this).parent().parent().remove();
                    rewriteParameters("#auth-ws_path", "#table-auth-parameters-keys");
                });
            });

            $("#btn-auth-new-bodyKeyRaw").click(function() {
                var line = '<tr>' +
                                '<td><input type="text" class="form-control border-0" name="bodyKeyRaw" /></td>' +
                                '<td><input type="text" class="form-control border-0" name="bodyValueRaw" /></td>' +
                                '<td><select class="form-select" name="bodyTypeRaw">' +
                                    '<option value="text" selected>Text</option>' +
                                    '<option value="number">Number</option>' +
                                '</select></td>' +
                                '<td><button type="button" class="btn"><i class="fas fa-backspace text-danger"></i></button></td>' +
                            '</tr>';

                $("#table-auth-raw-fields tr:last").after(line);

                var lastLine = $("#table-auth-raw-fields tr:last");
                $(lastLine).on('click', 'button', function() {
                    $(this).parent().parent().remove();
                });
            });
        });
    </script>
</head>
<body>
    <div th:fragment="menu">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link fas fa-home fa-2x icon-silver" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/config/file">Arquivo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/config/ws">Web Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Banco de Dados</a>
                </li>
            </ul>
        </nav>
    </div>
    <div th:fragment="html_foot" class="text-center">
        <p>Integrador Mobiplus - Copyright &copy;</p>
    </div>

    <!-- Fragmento padronizado para web service -->
    <div class="row m-3 border rounded" th:fragment="pageWebService(typeWebService, action)">
        <form class="col-sm-12" method="POST" th:action="${action}" th:id="${typeWebService}+'-form'" enctype="application/x-www-form-urlencoded">
            <div class="input-group py-3">
                <div class="col-1">
                    <select class="form-select bg-secondary text-white" name="method">
                        <option selected value="GET">GET</option>
                        <option value="POST">POST</option>
                    </select>
                </div>
                <input type="hidden" name="integrationType" value="WEB_SERVICE" />
                <input type="text" class="form-control" name="ws_path" aria-describedby="next" aria-label="Próximo" required />
                <button type="button" class="btn btn-outline-secondary" th:id="${typeWebService}+'-send'">Próximo</button>
            </div>
            <div class="border rounder p-3 mb-3">
                <div class="nav nav-tabs" th:id="${typeWebService}+'-keys'" role="tablist">
                    <button class="nav-link active" th:id="${typeWebService}+'-header-tab'" data-bs-toggle="tab" th:data-bs-target="'#'+${typeWebService}+'-header'" type="button" role="tab" th:aria-controls="${typeWebService}+'-header'" aria-selected="true">Header</button>
                    <button class="nav-link" th:id="${typeWebService}+'-body-tab'" data-bs-toggle="tab" th:data-bs-target="'#'+${typeWebService}+'-body'" type="button" role="tab" th:aria-controls="${typeWebService}+'-body'" aria-selected="false">Body</button>
                </div>
                <div class="tab-content" th:id="${typeWebService}+'-content'">
                    <div class="tab-pane fade show active" th:id="${typeWebService}+'-header'" role="tabpanel" th:aria-labelledby="${typeWebService}+'-header'">

                        <table class="table" th:id="'table-'+${typeWebService}+'-header-keys'">
                            <thead>
                            <tr>
                                <th scope="col">CHAVE</th>
                                <th scope="col">VALOR</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <input type="text" class="form-control border-0" name="headerKey" />
                                </td>
                                <td>
                                    <input type="text" class="form-control border-0" name="headerValue" />
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <button class="btn btn-outline-secondary" type="button" th:id="'btn-'+${typeWebService}+'-new-key'">Adicionar Chave</button>
                    </div>
                    <div class="tab-pane fade" th:id="${typeWebService}+'-body'" role="tabpanel" th:aria-labelledby="${typeWebService}+'-body'">
                        <div class="p-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" th:name="${typeWebService}+'-bodyType'" value="x-www-form-urlencoded" th:id="${typeWebService}+'-urlencoded'" checked>
                                <label class="form-check-label" th:for="${typeWebService}+'-urlencoded'">x-www-form-urlencoded</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" th:name="${typeWebService}+'-bodyType'" value="raw" th:id="${typeWebService}+'-raw'">
                                <label class="form-check-label" th:for="${typeWebService}+'-raw'">raw</label>
                            </div>
                        </div>
                        <div th:id="${typeWebService}+'-urlencoded-content'">
                            <table class="table" th:id="'table-'+${typeWebService}+'-body-keys'">
                                <thead>
                                <tr>
                                    <th scope="col">CHAVE</th>
                                    <th scope="col">VALOR</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control border-0" name="bodyKey" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control border-0" name="bodyValue" />
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <button class="btn btn-outline-secondary" type="button" th:id="'btn-'+${typeWebService}+'-new-bodyKey'">Adicionar Chave</button>
                        </div>
                        <div th:id="${typeWebService}+'-raw-content'" style="display: none">
                            <table class="table" th:id="'table-'+${typeWebService}+'-raw-fields'">
                                <thead>
                                    <tr>
                                        <th scope="col">CAMPO</th>
                                        <th scope="col">VALOR</th>
                                        <th scope="col">OPERADOR</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" class="form-control border-0" name="campo" /></td>
                                        <td><input type="text" class="form-control border-0" name="valor" /></td>
                                        <td><select class="form-select" name="operador">
                                            <option value="IGUAL" selected>IGUAL</option>
                                            <option value="DIFERENTE">DIFERENTE</option>
                                            <option value="MENOR">MENOR</option>
                                            <option value="MAIOR">MAIOR</option>
                                        </select></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div th:id="${typeWebService}+'-jsonView'">

            </div>
            <div th:id="${typeWebService}+'-fieldsView'">

            </div>
        </form>
    </div>
    <!-- Fim do fragmento para web service -->

    <div th:fragment="json-creator">
        <div class="input-group">
            <span class="input-group-text">Chave:</span>
            <input type="text" class="form-control" aria-label="Nome da chave" />
            <span class="input-group-text">Valor:</span>
            <input type="text" class="form-control" aria-label="Valor da chave" />
        </div>
    </div>

    <div th:fragment="bootstrap-js">

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    </div>
</body>
</html>