<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments :: html_head" />
<body>
<div class="container">
    <div th:replace="fragments :: menu" />

    <h3>Configurar Web Service</h3>
    <div class="nav nav-tabs" id="tabWebServiceMode" role="tablist">
        <button class="nav-link active" id="auth-fix-tab" data-bs-toggle="tab" data-bs-target="#auth-fix" type="button" role="tab" aria-controls="auth-fix" aria-selected="true">Autenticação Fixa</button>
        <button class="nav-link" id="with-auth-token-tab" data-bs-toggle="tab" data-bs-target="#with-auth-token" type="button" role="tab" aria-controls="with-auth-token" aria-selected="false">Busca de Token</button>
    </div>
    <div class="tab-content" id="tabWebServiceModeContent">
        <!--Início da área relativa à autenticação com token fixo-->
        <div class="tab-pane fade show active" id="auth-fix" role="tabpanel" aria-labelledby="auth-fix-tab">
            <div class="row m-3 border rounded">
                <form class="col-sm-12" method="POST" action="/config/ws/startConfig" id="ws-form" enctype="application/x-www-form-urlencoded">
                    <div class="input-group py-3">
                        <div class="col-1">
                            <select class="form-select bg-secondary text-white" id="method">
                                <option selected value="get">GET</option>
                                <option value="post">POST</option>
                            </select>
                        </div>
                        <input type="hidden" id="integrationType" name="integrationType" value="WEB_SERVICE" />
                        <input type="text" class="form-control" name="ws_path" id="ws_path" aria-describedby="next" aria-label="Próximo" required />
                        <button type="button" class="btn btn-outline-secondary" id="send">Próximo</button>
                    </div>
                <div class="p-3 border rounded">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tabs" role="tablist">
                            <button class="nav-link active" id="nav-header-tab" data-bs-toggle="tab" data-bs-target="#nav-header" type="button" role="tab" aria-controls="nav-header" aria-selected="true">Header</button>
                            <button class="nav-link" id="nav-body-tab" data-bs-toggle="tab" data-bs-target="#nav-body" type="button" role="tab" aria-controls="nav-body" aria-selected="false">Body</button>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-header" role="tabpanel" aria-labelledby="nav-header-tab">

                                <table class="table" id="table-header-keys">
                                    <thead>
                                        <tr>
                                            <th scope="col">CHAVE</th>
                                            <th scope="col">VALOR</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control border-0" name="key" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control border-0" name="value" />
                                            </td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <button class="btn btn-outline-secondary" type="button" id="btn-new-key">Adicionar Chave</button>
                            </div>
                            <div class="tab-pane fade" id="nav-body" role="tabpanel" aria-labelledby="nav-body-tab">
                                Conteúdo aqui! Body.
                            </div>
                        </div>
                    </nav>
                </div>

                <div id="json-view" class="mb-3">
                </div>
                <div id="json-fields">
                </div>
                </form>
            </div>
        </div>
        <!--Final da área relativa à autenticação com token fixo-->
        <div class="tab-pane fade" id="with-auth-token" role="tabpanel" aria-labelledby="with-auth-token">
            <!--  <div th:replace="fragments :: pageWebService(typeWebService='auth', action='/config/ws/auth/startConfig')" /> -->
            <div class="collapse show" id="cad-settings">
                <div class="row m-3 border rounded">
                    <form class="col-sm-12" method="POST" action="/config/ws/auth/startConfig" id="auth-form" enctype="application/x-www-form-urlencoded">
                        <div class="input-group py-3">
                            <div class="col-1">
                                <select class="form-select bg-secondary text-white" name="method">
                                    <option selected value="GET">GET</option>
                                    <option value="POST">POST</option>
                                </select>
                            </div>
                            <input type="hidden" name="integrationType" value="WEB_SERVICE" />
                            <input type="text" class="form-control" name="ws_path" aria-describedby="next" aria-label="Próximo" required />
                            <button type="button" class="btn btn-outline-secondary" id="auth-send">Próximo</button>
                        </div>
                        <div class="border rounder p-3 mb-3">
                            <div class="nav nav-tabs" id="auth-keys" role="tablist">
                                <button class="nav-link active" id="auth-header-tab" data-bs-toggle="tab" data-bs-target="#auth-header" type="button" role="tab" aria-controls="auth-header" aria-selected="true">Header</button>
                                <button class="nav-link" id="auth-body-tab" data-bs-toggle="tab" data-bs-target="#auth-body" type="button" role="tab" aria-controls="auth-body" aria-selected="false">Body</button>
                            </div>
                            <div class="tab-content" id="auth-content">
                                <div class="tab-pane fade show active" id="auth-header" role="tabpanel" aria-labelledby="auth-header">

                                    <table class="table" id="table-auth-header-keys" >
                                        <thead>
                                        <tr>
                                            <th scope="col">CHAVE</th>
                                            <th scope="col">VALOR</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control border-0" name="headerKey" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control border-0" name="headerValue" />
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <button class="btn btn-outline-secondary" type="button" id="btn-auth-new-key">Adicionar Chave</button>
                                </div>
                                <div class="tab-pane fade" id="auth-body" role="tabpanel" aria-labelledby="auth-body">
                                    <div class="p-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="auth-bodyType" value="x-www-form-urlencoded" id="auth-urlencoded" checked>
                                            <label class="form-check-label" for="auth-urlencoded">x-www-form-urlencoded</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="auth-bodyType" value="raw" id="auth-raw">
                                            <label class="form-check-label" for="auth-raw">raw</label>
                                        </div>
                                    </div>
                                    <div id="auth-urlencoded-content">
                                        <table class="table" id="table-auth-body-keys">
                                            <thead>
                                            <tr>
                                                <th scope="col">CHAVE</th>
                                                <th scope="col">VALOR</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control border-0" name="bodyKey" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control border-0" name="bodyValue" />
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <button class="btn btn-outline-secondary" type="button" id="btn-auth-new-bodyKey">Adicionar Chave</button>
                                    </div>
                                    <div id="auth-raw-content" style="display: none">
                                        <table class="table" id="table-auth-raw-fields">
                                            <thead>
                                            <tr>
                                                <th scope="col">CAMPO</th>
                                                <th scope="col">VALOR</th>
                                                <th scope="col">OPERADOR</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td><input type="text" class="form-control border-0" name="campo" /></td>
                                                <td><input type="text" class="form-control border-0" name="valor" /></td>
                                                <td><select class="form-select" name="operador">
                                                    <option value="IGUAL" selected>IGUAL</option>
                                                    <option value="DIFERENTE">DIFERENTE</option>
                                                    <option value="MENOR">MENOR</option>
                                                    <option value="MAIOR">MAIOR</option>
                                                </select></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                        <div id="auth-jsonView">

                        </div>
                        <div id="auth-fieldsView">

                        </div>
                </div>
            </div>
            <form>
                <div id="cad-config" class="collapse">
                    <!-- <div th:replace="fragments :: pageWebService(typeWebService='cad', action='/config/ws/cad/startConfig')" /> -->
                </div>
            </form>
        </div>
    </div>

    <div id="dialog-success">

    </div>
</div>
<div th:replace="fragments :: html_foot" />
<div th:replace="fragments :: bootstrap-js" />
</body>
</html>